html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#main-card {
    border: 3px solid black;
    height: 400px;
    width: 650px;
}

#top-container {
    border: 2px solid green;
    width: 100%;
    height: 40%;
}

#bottom-container {
    border: 2px solid red;
    width: 100%;
    height: 60%;
}

#bottom-left {
    display: inline-block;
    border: 2px solid blue;
    width: 50%;
    height:100%;
}

#bottom-right {
    display: inline-block;
    border: 2px solid purple;
    width: 50%;
    height: 100%;
}